section.window
  h1 {{= title}}
  form(name="askform",action="/")
    p {{= message}}
    p
      input.prompt.getfocus(size="30",required)
    p
      input(type="submit",name="ok",value="OK")
      input(type="submit",name="cancel",value="キャンセル")



