section.window.login
  h1 ログイン
  form(name="loginform",action="/")
    p
      label
        ユーザーID:
        input.getfocus(name="userid",size=20,required)
    p
      label
        パスワード:
        input(name="password",size="20",type="password",required)
    p
      input(type="submit",value="ログイン")
    p.error


