!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title CardGame
  body
    header
      h1 Game
      #userinfo
    #content
      h1 Cards ONLINE
      p ブラウザ上で対戦できる、インターネットカードゲーム対戦サイトです。
      p
        ブラウザ上ですが、従来のCGIとは全く異なるシステムで、以前から公開していた
        strong
          a(href="http://uhyohyohyo.sakura.ne.jp/hsp.html",target="_blank") DM ONLINEやVanGuard ONLINE
          以上のリアルタイム性
        を誇ります。
      p
        これまではHSP製だったためWindowsでしか動きませんでしたが、これはブラウザ上で動くためブラウザさえあれば動きます。
      p
        strong
          注意：IEはブラウザとは認めません。
        
